/* body{
    background-color:#4a4848 ;
} */

/* @media  (max-width:768px) {
    .input-field{
        margin-left:60px;
        width:300px;
    }
}


@media screen and (max-width:769px) {
    .input-field{
        margin-left:60px;
        margin-right:20px;
        width:300px;
    }
} */
body{
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden; /* To prevent scrolling */
    font-family: system-ui;
    /* background-color: black;  */
 }

.ptag {
    position: relative;
    top: -650px;  /* Keep this if needed */
}


